body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  /* to ensure the background and form is placed side by side */
  .container {
    display: flex;
    height: 100vh;
  }
  
  .bg-image { 
    /* The image used */
    background-image: url("flower.jpg");
  
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100vh 100vh;
    flex: 1;
    height: 100%;
  }
  
  .content {
    /* flex= 1 to enable it take 50% of the page */
    flex: 1; 
    height: 100%;
    overflow: auto;
    margin-top: 100px;
   
  }
  #Firstname, 
  #email, 
  #password {
    grid-row: 1/5;

  }
  #Lastname, #phone, #cpassword {
    display:flex;
  }
  form {
    display  : grid;
    grid-gap : 50px;
    grid-template-columns : repeat(2, 1fr);
    grid-template-rows    : 1em 1em 1em 1em;
    position: relative;
    width  : 450px;
    margin-left : 0;
    padding: 1em;
    box-sizing: border-box;
    
  }
  p {
    margin-left: 20px;
  }
  button {
    border-color: #596D48;
    border-radius: 4px;;
    padding: 10px;
    background-color: #596D48;
    color: white;
    border: none; /*to remove the black border conflicitng with the green border */
    cursor: pointer;
  }
  a {
    color:#596D48;
    text-decoration: none;
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;   /* Height of the footer */
    color:#596D48;
    font-weight: bolder;
    margin-left: 200px;
 }
 img {
  width: 100px;
  height: 120px;
 } 
 
  
  @font-face {
    font-family: "norse-bold";
    src: url("norse-bold-webfont.woff") format("woff"),
url("norse-bold-webfont.woff2") format("woff2");

  }
 
  h3 {
    font-family: 'norse-bold';
    font-size: 70px;
    margin-top:30px;
    color: white;
  }
  .logo {
    margin-left: 200px;
    margin-top: 150px;
    display: flex;       /*enable logo and text stay side by side */
    

  }
  .behind {
    background-color: #596D48;
    border-color: #596D48;
    height: 120px;

  }
  input:focus {
    border: 2px solid blue;
    outline: none;  /*this ensure border effect is actualized*/
    box-shadow: gray;
   
  }
  input:hover {
    border-color: #596D48;
   border: none;
  }